{% extends 'base.html' %}

{% block title %}New post form{% endblock %}

{% block content %}

<h1>Post for {{ user.first_name }} {{ user.last_name }}</h1>

<form action="/users/{{ user.id }}/posts/new" method="POST">
    <h4>Title:</h4>
    <input type="text" name="title">
    <h4>Content:</h4>
    <input type="text" name="content">

    {% for tag in tags %}
        <input type="checkbox" name="tags" value="{{ tag.id }}" id="tag_{{ tag.id }}">
        <label for="tag_{{ tag.id }}"> {{ tag.name }}</label><br>
    {% endfor %}

    <button>Submit</button>
</form>

<a href="/users/{{ user.id }}">Cancel</a>

{% endblock %}