{% extends 'base.html' %}

{% block title %}Post edit page{% endblock %}

{% block content %}

<form action="/posts/{{ post.id }}/edit" method="POST">
    <h4>New Title:</h4>
    <input type="text" name="title">
    <h4>New Content:</h4>
    <input type="text" name="content">

    {% for tag in tags %}
        <input type="checkbox" name="tags" value="{{ tag.id }}" id="tag_{{ tag.id }}">
        <label for="tag_{{ tag.id }}"> {{ tag.name }}</label><br>
    {% endfor %}

    <button>Submit</button>
</form>

<a href="/posts/{{ post.id }}">Cancel</a>

{% endblock %}